<h1><%= @gallery.name %></h1>
<div>
Likes: <%= @gallery.likes.count %>
<% if current_user.liked?(@gallery) %>
  <%= link_to "Like", like_gallery_path(@gallery), method: :post %>
<% else %>
    <%= link_to "Unlike", unlike_gallery_path(@gallery), method: :delete %>
<% end %>
</div>
<div>
Hates: <%= @gallery.hates.count %>
<% if current_user.hated?(@gallery) %>
  <%= link_to "Hate", hate_gallery_path(@gallery), method: :post %>
<% else %>
    <%= link_to "Unhate", unhate_gallery_path(@gallery), method: :delete %>
<% end %>
</div>
<p><%= @gallery.description.capitalize %></p>

<nav>
<%= link_to "New Image", new_gallery_image_path(@gallery) %>
<%= link_to "Edit", edit_gallery_path(@gallery) %>
<%= link_to "Destroy", @gallery, method: :delete, data: { confirm: "Are you sure?" } %>
</nav>

<ul>
  <% @images.each do |image| %>
    <li><%= render image %>
<%= link_to "Destroy Image", [@gallery, image], method: :delete, data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>
