<h1><%= @gallery.name %></h1>
<p><%= @gallery.description.capitalize %></p>

<nav>
<%= link_to "New Image", new_gallery_image_path(@gallery) %>
<%= link_to "Edit", edit_gallery_path(@gallery) %>
<%= link_to "Destroy", @gallery, method: :delete, data: { confirm: "Are you sure?" } %>
</nav>

<ul>
  <% @images.each do |image| %>
    <li><%= render image %>
<%= link_to "Destroy Image", [@gallery, image], method: :delete, data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>
