<h3><%= @image.name %></h3>
<%= image_tag @image.url, width: 300 %>
<%= link_to "Edit Image", edit_gallery_image_path(@image.gallery_id, @image.id) %>
<%= link_to "Delete Image", [@image.gallery, @image], method: :delete, data: { confirm: "Are you sure?" } %>

<div>
  <%= pluralize(@image.tags.count, "Tag") %><br/>
  <% @image.tags.each do |tag| %>
    <%= link_to tag, tag_path(tag)  %>
  <% end %>
</div>
<br/>
<%= pluralize(@image.liked_count, "Like") %>

<% if current_user.liked?(@image) %>
  <%= link_to "Like", like_gallery_image_path(@gallery, @image), method: :post %>
<% else %>
  <%= link_to "Unlike", unlike_gallery_image_path(@gallery, @image), method: :delete %>
<% end %>
<br/>

<%= pluralize(@image.hated_count, "Hate") %>


<% if current_user.not_hated?(@image) %>
<%= link_to "Hate", hate_gallery_image_path(@gallery, @image), method: :post %>
<% else %>
<%= link_to "Unhate", unhate_gallery_image_path(@gallery, @image), method: :delete %>
<% end %>
<%= render @image.comments %>

<%= form_for [@gallery, @image, @comment] do |form| %>
  <%= form.text_area :content %>
  <%= form.submit "Post" %>
<% end %>
